html, body{
    height: 100vh;
    background-image: url(https://media2.giphy.com/media/v1.Y2lkPTZjMDliOTUycWEzcXF1dDZtOHVxZ3R3YnJ6bDNsb3IwdnFndmJ6NjFya3podzBnYiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/ED6o8sI8WcmzKiadxs/giphy.gif);
}
h1{color: blueviolet;
    
}
h2{color: blueviolet;
   
}